//<МИКСИНЫ>==============================================================================================
@import "mixins.scss";

//<ШРИФТЫ>===============================================================================================
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap");

//<Шрифт по умолчанию>===================================================================================
$fontfamily: "Lato";

//<ПЕРЕМЕННЫЕ>===========================================================================================
$minwidth: 320px;

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>============================================================================
@import "null.scss";

//<ОБОЛОЧКА>==============================================================================================
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.page {
	min-height: 100vh;
	display: flex;
	padding: 20px 0;
}

.content {
	flex: 1 1 auto;
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 65px;
}

.content__block {

	justify-content: center;
	align-items: center;
}

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>========================================================
@import "../components/Header/Header.scss";
@import "../components/DataList/DataList.scss";
@import "../components/Characters/CharacterPage/CharacterPage.scss";
@import "../components/Episodes/EpisodePage/EpisodePage.scss";
@import "../components/Loader/Loader.scss";


//<ОСНОВНОЙ БЛОК>========================================================================================


