.content__item {
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
    margin: 20px 0px 0px 0px;
    padding: 10px;
    background-color: #fafafa;
}
.content__column {
    display: flex;
    align-items: center;
    div {
        display: flex;
        align-items: center;
        padding: 5px;
        width: 50%;
        font-style: italic;
        color: #807d8a;
        &:nth-child(2),
        &:nth-child(3) {
            width: 25%;
        }
        &:last-child {
            padding-left: 5%;
        }
    }
}
.__title {
    text-transform: uppercase;
    font-weight: 600;
    color: #1a1818;
}
@media (max-width: 500px) {
    .content__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            display: flex;
            justify-content: center;
            padding: 5px;
        }
    }
}
